@import "./common/var.scss"; //变量
@import "./mixins/mixin.scss"; //方法

@include b(button-group) {
  & > .#{$namespace}-button {
    //tp-button
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  // 非最后一个
  > .tp-button:not(:last-child) {
    margin-right: 1px;
  }
}
