@import "./common/var.scss";//变量
@import "./mixins/mixin.scss"; //方法


//bem 创建样式

@include b(button){
    display: inline-block;
    line-height: 1;
    min-height: 40px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    padding:0 15px;
    margin-right: 5px;
    background:rgb(219, 201, 201);
    vertical-align: middle;
    border:rgb(219, 201, 201);
    border-radius: 5px;
    //在嵌套中只要样式 是 tp-icon
    & [class*='#{$namespace}-icon-'] {
        vertical-align: middle;
        & + span {
          margin-left: 5px;
        }
      }
    //状态  when
   
    @include when(disabled){
        cursor: not-allowed;
    }
    @include when(round){
        border-radius:20px ;
    }
    @include when(loading){
     pointer-events: node;
    }
    // button组件的样式 ： 
    @include m(primary){
           @include button-type($--color-white,$--color-primary,$--color-primary)  
    }
    @include m(success){
        @include button-type($--color-white,$--color-success,$--color-success);
        // &:hover,
        // &:focus {
        //   background: $--color-primary;
        //   border-color:$--color-primary;
        //   color: red;
        // }
    }
    @include m(info){
        @include button-type($--color-white,$--color-info,$--color-info)  
    }
    @include m(danger){
        @include button-type($--color-white,$--color-danger,$--color-danger)  
    }
}





