@import "./common/var.scss";
@import "./mixins/mixin.scss";

.mask {
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 2023;
    .#{$namespace}-dialog {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20vh;
      width: 30%;
      height: 300px;
      background-color: #fff;
      z-index: 2024;
      .dialog-header {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        padding-bottom: 10px;
        margin-right: 16px;
      }
      .dialog-default {
        padding: 20px;
        color: #606266;
        font-size: 14px;
      }
      .dialog-footer {
        box-sizing: border-box;
        padding: 20px;
        padding-top: 10px;
        text-align: right;
      }
    }
  }

.#{$namespace}-mask-enter-active {
  animation: modal-fade-in 0.3s;
  .#{$namespace}-dialog {
    animation: dialog-fade-in 0.3s;
  }
}

.#{$namespace}-mask-leave-active {
  animation: modal-fade-out 0.3s;
  .#{$namespace}-dialog {
    animation: dialog-fade-out 0.3s;
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
