@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(message) {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  min-width: 220px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  transition: transform 0.4s, top 0.4s;
  // button组件的样式 ：
  // button组件的样式 ：
  @include m(primary) {
    @include message-type($--color-white, $--color-primary, $--color-primary);
  }
  @include m(success) {
    @include message-type($--color-white, $--color-success, $--color-success);
  }
  @include m(info) {
    @include message-type($--color-white, $--color-info, $--color-info);
  }
  @include m(danger) {
    @include message-type($--color-white, $--color-danger, $--color-danger);
  }
}

.#{$namespace}-message-fade-enter-from,
.#{$namespace}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
