@import "./common/var.scss";
@import "./mixins/mixin.scss";
@import "./mixins/utils.scss";


@include b(switch) {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  vertical-align: middle;
  @include e(input) {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  @include e(core) {
    display: inline-flex;
    position: relative;
    align-items: center;
    min-width: 40px;
    height: 18px;
    border: 1px solid #dcdfe6;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: #dcdfe6;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    .#{$namespace}-switch__action {
      position: absolute;
      left: 1px;
      border-radius: 100%;
      transition: all 0.3s;
      width: 16px;
      height: 16px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #dcdfe6;
    }

    .#{$namespace}-switch__inner {
        width: 100%;
        transition: all 0.3s;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 4px 0 18px;
        .is-icon,
        .is-text {
          font-size: 12px;
          color: #fff;
          user-select: none;
          @include utils-ellipsis;
        }
    }
  }
  @include e(label) {
    transition: 0.2s;
    height: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: #303133;

    @include when(active) {
      color: #409eff;
    }

    @include m(left) {
      margin-right: 10px;
    }
    @include m(right) {
      margin-left: 10px;
    }
  }

  @include when(checked) {
    .#{$namespace}-switch__core {
      border-color: #409eff;
      background-color: #409eff;
      .#{$namespace}-switch__action {
        left: calc(100% - 17px);
        color: #409eff;
      }
      .#{$namespace}-switch__inner {
        padding: 0 18px 0 4px;
      }
    }
  }
  @include when(disabled) {
    & .#{$namespace}-switch__core,
    & .#{$namespace}-switch__label {
      cursor: not-allowed;
    }
  }
}
