@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(transfer) {
  border-radius: 4px;
  //   width: 200px;
  //   height: 40px;
  display: flex;
  &-item {
    overflow: hidden;
    background: #ffffff;
    display: inline-block;
    text-align: left;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    @include e(header) {
      height: 40px;
      display: flex;
      align-items: center;
      background: #ebeef5;
      margin: 0;
      padding-left: 15px;
      //   border: 1px solid #ebeef5;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-sizing: border-box;
      color: #000000;
    }
    @include e(body) {
      height: 278px;
      padding-left: 15px;
      overflow: auto;
      @include m(list) {
        > div {
            margin: 8px 0;
        }
      }
    }
  }

  @include e(buttons) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px  0 14px;
  }
}
